*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color:white
}

.textbox-md {
    padding-left: 15px;
}

.textbox-sm {
    padding-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffff;
  }
  
  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #707070;
  }

  .cart {
    background-color : white;
    padding: 17px 80px;
    text-align: right;
    font-size: 35px
  }

.header {
    background-color: #f1f1f1;
    padding: 17px 100px;
    text-align: center;
    font-size: 35px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}
.about-us{
  background-color: #f1f1f1f1;
  padding: 27px 90px;
  text-align: left;
  font-size: 45;
  margin: auto;
}



  .footer {
    background-color: #BF7631;
    padding: 17px 80px;
    text-align: center;
    font-size: 35px
    }

    .container {
      position: relative;
    }

    .text-block {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: black;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
    }