*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: white;
}

.textbox-md {
  padding-left: 15px;
}

.textbox-sm {
  padding-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #707070;
}

.cart {
  background-color: white;
  padding: 17px 80px;
  text-align: right;
  font-size: 35px;
}

.header {
  background-color: #ffffff;
  padding: 17px 100px;
  text-align: center;
  font-size: 35px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}
.about-us {
  background-color: #ffffff;

  padding: 27px 90px;

  text-align: left;

  margin: auto;
}

.footer {
  background-color: #bf7631;
  padding: 17px 80px;
  text-align: center;
  font-size: 35px;
}

.myDIV {
  height: 300px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  grid: 100px / auto auto auto;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "top-left top top-right"
    "bottom-left bottom bottom-right";
}

.item1 {
  align-items: right;
  grid-column-start: 1;
  grid-column-end: 3;
}

.item2 {
  align-items: left;
  grid-column-start: 1;
  grid-column-end: 2;
}

.textblock1 {
  position: absolute;
  right: 0px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(7, 7, 7);
  padding-left: 10px;
  padding-right: 10px;
}

.textblock2 {
  position: absolute;
  left: 0px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(7, 7, 7);
  padding-left: 10px;
  padding-right: 10px;
}
.contact-us {
  /* top: 50%; */
  /* left: 50%; */
  /* position: absolute; */
  transform: translate(80%, -50%);
  width: 500px;
  align-content: center;
}
.contact-us input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #ffffff;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: 110px;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
}

.grid-container-1 > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.img {
  position: center;
  left: 0;
  top: 0;
  z-index: -1;
}
.product-1{
  align-content: flex-end;
  transform:translate(40%,25%);
  height: 398px;
  width: 398px;

}